{% extends 'base.html' %}

{% block title %}
Sample hotel
{% endblock title %}

{% block body %}
<div class="tm-section tm-bg-img" id="tm-section-1">
    <div class="tm-bg-white ie-container-width-fix-2">
        <div class="container ie-h-align-center-fix">
            <div class="row">
                <div class="col-xs-12 ml-auto mr-auto ie-container-width-fix">
                    <form action="{% url 'search_rooms' %}" method="get" class="tm-search-form tm-section-pad-2" id="myForm">
                        {% csrf_token %}
                        <div class="form-row tm-search-form-row">
                            <div class="form-group tm-form-element tm-form-element-50">
                                <i class="fa fa-calendar fa-2x tm-form-element-icon"></i>
                                <input name="chkin" type="text" class="form-control" id="inputCheckIn" placeholder="Check In" required>
                            </div>
                            <div class="form-group tm-form-element tm-form-element-50">
                                <i class="fa fa-calendar fa-2x tm-form-element-icon"></i>
                                <input name="chkout" type="text" class="form-control" id="inputCheckOut" placeholder="Check Out" required>
                            </div>
                            <div class="form-group tm-form-element tm-form-element-2">
                                <button type="submit" class="btn btn-primary tm-btn-search">Check Availability</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}

{% block customjs %}
<script>
    const pickerCheckIn = datepicker('#inputCheckIn', {
    formatter: (input, date, instance) => {
        const value = date.toISOString().split('T')[0]
        input.value = value // => '1/1/2099'
    }
    });
    const pickerCheckOut = datepicker('#inputCheckOut', {
    formatter: (input, date, instance) => {
        const value = date.toISOString().split('T')[0]
        input.value = value // => '1/1/2099'
    }
    });
    document.getElementById('myForm').addEventListener('submit', ()=>{
       localStorage.setItem('checkin', pickerCheckIn.dateSelected.toISOString().split('T')[0]);
       localStorage.setItem('checkout', pickerCheckOut.dateSelected.toISOString().split('T')[0]);
    });
</script>
{% endblock customjs %}