{% extends 'base.html' %}

{% block title %}
Sample hotel
{% endblock title %}

{% block body %}
<div class="container ie-h-align-center-fix">
    <div class="row">
        <div class="col-xs-12 ml-auto mr-auto ie-container-width-fix">
            <form method="POST" class="tm-search-form tm-section-pad-2">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-primary tm-btn-search" type="submit">login</button>
            </form>
        </div>
    </div>
</div>
{% endblock body %}